page-auth {
    ion-grid {
        height: 100%;
        padding: 3rem;
    }
    ion-row {
        height: 100%;
        text-align: center;
        align-items: center;
    }
    ion-button {
        margin: 1rem 0rem;
    }
    h1{
        margin-bottom: 3rem;
    }
}
