page-auth {
    ion-grid {
        height: 100%;
        padding: 0;
    }
    ion-row {
        height: 100%;
        text-align: center;
        align-items: center;
    }
    ion-button {
        margin: 1em;
    }
}
